<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
  <body>
    <p>Creado por <%= author %></p>

<img src="images/Hola.jpg">

<p><%= author %></p>

  </body>
  <body>
</html>
